body.error-404 {
  #lead-image {
    background: image-url("jobs/office-photo-shanann.jpg") no-repeat center top;
    background-size: cover;
    height: 660px;
    position: relative;
    top: -2px
  }

  .text-row {
    text-align: center;
  }

  .column-title {
    font-size: 1.6em;
    margin-top: 0.7em;
  }

  .other-things, .search-goog b {
  /*.search-goog script + {*/
    display: none;
  }

  .search-goog {
    list-style: none;
  }

  .columns {
    margin-bottom: 1.2em;
  }

  .helpful-item {
    width: 31%;
    margin: 0 auto;
  }
}
