body.error-404 {
  #lead-image {
    background: image-url("jobs/office-photo-shanann.jpg") no-repeat center top;
    background-size: cover;
    height: 660px;
    position: relative;
    top: -2px
  }

  .text-row {
    text-align: center;
  }
}
